nav {
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    font-size: 15px;
    flex-direction: column-reverse;
    padding: 15px;
    background-image: linear-gradient(to right, rgb(241, 211, 211), white);

    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        float: left;

        & li:hover {
            background-color: rgb(237, 189, 247);
            border-radius: 6px;
        }
    }

    li {
        text-decoration: none;
    }

    a {
        color: rgb(8, 8, 19) !important;
        align-items: center;
        margin: 2px;
    }
}